{% extends 'layout.html' %}

{% block body %}

<div class="upper-container">
    <div class="logo-dashboard">
        <h1 class="Distrito">DISTRITO<span>5</span></h1>
        <p class="Urbana">Urbana y Deportiva</p>
    </div>
    <div class="user-info">
        <span class="user">Usuario:</span>
        <span class="username">{{user_type}}</span>
        <a href="{{ url_for('logout') }}" class="logout-button">Cerrar sesión</a>
    </div>
</div>
<div id="bottom-container">
    {% block bottomsection %}
    <!-- Administrador -->
    {% if current_user.user_type == 1 %}
        <nav class="admin-nav">
            <a id="selection-btn" href="{{ url_for('dashboard') }}">Dashboard</a>
            <a id="selection-btn" href="{{ url_for('inventory') }}">Inventario</a>
            <a id="selection-btn" href="{{ url_for('sales') }}">Ventas y POS</a>
            <a id="selection-btn" href="{{ url_for('reports') }}">Reportes</a>
            <a id="selection-btn" href="{{ url_for('products_clients') }}">Productos y Clientes</a>
            <a id="selection-btn" href="{{ url_for('manage_users') }}">Gestión de Usuarios</a>     
        </nav>
    <!-- Gerente -->
    {% elif current_user.user_type == 2 %}
        <nav class="admin-nav">
            <a id="selection-btn" href="{{ url_for('dashboard') }}">Dashboard</a>
            <a id="selection-btn" href="{{ url_for('inventory') }}">Inventario</a>
            <a id="selection-btn" href="{{ url_for('sales') }}">Ventas y POS</a>
            <a id="selection-btn" href="{{ url_for('products_clients') }}">Productos y Clientes</a>
        </nav>
    <!-- Auxiliar -->
    {% elif current_user.user_type == 3 %}
        <nav class="admin-nav">
            <a id="selection-btn" href="{{ url_for('dashboard') }}">Dashboard</a>
            <a id="selection-btn" href="{{ url_for('inventory') }}">Inventario</a>
        </nav>
    {% endif %}
    {% endblock %}
</div>

{% block content %}
{% endblock %}

{% endblock %}